name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
        - python-version: "2.7"
          env:
            TOXENV: min
        - python-version: "2.7"
          env:
            TOXENV: py
        - python-version: "3.9"
          env:
            TOXENV: py
        - python-version: "3.10"
          env:
            TOXENV: py
        - python-version: "3.10"
          env:
            TOXENV: mypy
        - python-version: "3.11"
          env:
            TOXENV: py
        - python-version: "3.12"
          env:
            TOXENV: py
        - python-version: "3.13"
          env:
            TOXENV: py
        - python-version: "3.13"
          env:
            TOXENV: pre-commit
        - python-version: "3.12"  # Keep in sync with .readthedocs.yml
          env:
            TOXENV: docs
        - python-version: "3.13"
          env:
            TOXENV: twinecheck
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: MatteoH2O1999/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          allow-build: info
          cache-build: true
          cache: pip
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox codecov
      - name: Run tests
        env: ${{ matrix.env }}
        run: tox
      - name: Upload coverage.xml to codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: pre-commit/action@v3.0.0
